@page "/"
<style>
	.image-container {
		overflow: hidden;
	}

	.zoom-image {
		transition: transform 0.4s ease;
		display: block;

	}

	.image-container:hover .zoom-image {
		transform: scale(1.1);
	}

</style>
<PageTitle>Tacos</PageTitle>

<MudText Typo="Typo.h3" Align="Align.Center" Style="font-weight: 900; color: white;">WELCOME TO RIOS</MudText>
<MudStack Row="true" Justify="Justify.Center" Spacing="10">
	<MudStack AlignItems="AlignItems.Center">
		<MudPaper Class="pa-4" Square="true" Style="background-color: #f8ef01">
			<div class="image-container">
				<MudImage Class="zoom-image" Src="images/mc-rios.jpeg" Height="328"/>
			</div>
		</MudPaper>
		<MudText Typo="Typo.h5" Style="font-weight: 700; color: white;">MICHIGAN CITY</MudText>
	</MudStack>
	<MudStack AlignItems="AlignItems.Center">
		<MudPaper Class="pa-4 image-container" Square="true" Style="background-color: #f8ef01">
			<div class="image-container">
				<MudImage Class="zoom-image" Src="images/nb-rios.jpeg" Height="328"/>
			</div>
		</MudPaper>
		<MudText Typo="Typo.h5" Style="font-weight: 700; color: white;">NEW BUFFALO</MudText>
	</MudStack>

</MudStack>


