
    <MudText Class="py-5" Typo="Typo.h3" Align="Align.Center" Style="font-weight: 900; color: white; letter-spacing: .1rem;">
        WELCOME TO RIOS
    </MudText>
    <MudStack Row="true" Justify="Justify.Center" Spacing="10">
        <MudStack Class="location-card cursor-pointer" AlignItems="AlignItems.Center">
            <MudPaper Class="pa-3 image-container" Square="true" Style="background-color: #f8ef01">
                <div class="image-container">
                    <MudImage Class="zoom-image" Src="images/mc-rios.jpeg" Height="328"/>
                </div>
            </MudPaper>
            <MudText Typo="Typo.h5" Style="font-weight: 900; color: white; letter-spacing: .1rem;">MICHIGAN CITY</MudText>
        </MudStack>
	
        <MudStack Class="location-card cursor-pointer" AlignItems="AlignItems.Center">
            <MudPaper Class="pa-3 image-container" Square="true" Style="background-color: #f8ef01">
                <div class="image-container">
                    <MudImage Class="zoom-image" Src="images/nb-rios.jpeg" Height="328"/>
                </div>
            </MudPaper>
            <MudText Typo="Typo.h5" Style="font-weight: 900; color: white; letter-spacing: .1rem;">NEW BUFFALO</MudText>
        </MudStack>
    </MudStack>
@code {
    
}